#client
client/node_modules

#server
server/node_modules

#auth-srv
auth-srv/node_modules

#instructor-srv
instructor-srv/node_modules

#course-srv
course-srv/node_modules

#lecture-srv
lecture-srv/node_modules

#purchase-srv
purchase-srv/node_modules

